/*------general styles---*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --gray-hue: 240;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-white: white;
    --color-secondary: #ffb116;
    --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
    --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
    --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
    --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
    --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
    --color-gray-600: hsl(var(--gray-hue), 48%, 15%);

    --container-width-lg: 92%;
    --container-width-md: 97%;
    --transition: all 500ms ease;

}

/*------General Styles-------*/
body {
    background-color: var(--color-gray-600);
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.logo h2 {
    font-family: 'Julius Sans One', sans-serif;
    display: block;
    font-weight: lighter;
    font-size: 30px;
    color: var(--color-gray-200);
}

.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin: 0 auto;
    margin-inline: auto;

}

h1,
h3,
h4,
h5 {
    line-height: 1.2;
    color: var(--color-gray-100);
    line-height: 1.7;
}

h1 {
    font-size: 3rem;
    line-height: 1.7;
}

p {
    line-height: 2;
}

a {
    color: var(--color-gray-100);
}

/* img {
    display: block;
    object-fit: cover;
    width: 100%;
} */

.btn {
    color: black;
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: var(--color-secondary);
    border-radius: 20px;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border: 1px solid white;
}

.btn.lg {
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}

.btn.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
}

.btn.sm:hover {
    background: transparent;
    color: var(--color-white);
    border: 1px solid white;
}




.section__head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section__head span {
    background-color: var(--color-gray-500);
    padding: 0.15rem 0.8rem;
    border-radius: 1rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
}

/*---card---*/
.card {
    background: var(--color-gray-500);
    border: 2px solid transparent;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);
}

.card:hover {
    background: transparent;
    border-color: var(--color-secondary);
    cursor: default;
}

.card span {
    width: 3rem;
    height: 3rem;
    background: var(--color-secondary);
    color: var(--color-gray-100);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: var(--transition);
}

.card:hover span {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}

.card small {
    margin-top: 0.8rem;
    display: block;
    font-weight: 300;
}

/*-------media queires (medium screen)-------*/

@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
}

/*-------media queires (small screen)-------*/

@media screen and (max-width:600px) {
    h1 {
        font-size: 2.2rem;
        line-height: 1.3;
    }

    h2 {
        font-size: 1.6rem;
    }
}